Repository opensourceCertifications/linux: changes, and which pre-commit hooks are due for each by the changed paths.
All: vagrant-validate, prettier-yaml

vagrant-validate:
  name: vagrant validate
  entry: vagrant validate --ignore-provider
  language: system
  pass_filenames: false

prettier-yaml:
  name: prettier (YAML)
  language: system
  entry: bash -c './node_modules/.bin/prettier --parser=yaml --write "$@"' --
  pass_filenames: true

fix: 39: fixing vagrant precommit stuffy
  .pre-commit-config.yaml
  .rubocop.yml
  Vagrantfile
Due: vagrant-validate, prettier-yaml

feat: 39: introducing go doc readme
  .pre-commit-config.yaml
  Vagrantfile
  monitor/go/README.md
  monitor/go/breaks/README.md
  monitor/go/shared/library/README.md
  monitor/go/shared/types/README.md
  scripts/gen_docs.sh
  scripts/monitor_script.sh
Due: vagrant-validate, prettier-yaml

feat: 39: introducing precommit shell magics
  .golangci.yml
  .pre-commit-config.yaml
  monitor/ansible/library/append_to_results.yml
  monitor/ansible/library/boot_checker.sh
  scripts/gen_docs.sh
  scripts/gen_shdoc.sh
  scripts/monitor_script.sh
Due: prettier-yaml

feat: 39: introducint comment enforcement for bash
  .pre-commit-config.yaml
  monitor/ansible/library/boot_checker.sh
  scripts/gen_shdoc.sh
Due: prettier-yaml

feat: 39: forgot to add in the file
  scripts/ensure_bash_header.sh
Due: none

docs: 39: documenting all of the things
  DOCS_INDEX.md
  docs/ansible/checks/_template.md
  docs/ansible/checks/verify_restored.md
  docs/ansible/index.md
  docs/ansible/library/append_to_results.md
  docs/ansible/runbook.md
  docs/ansible/vars_and_artifacts.md
  docs/bash/boot_checker.md
  docs/bash/conventions.md
  docs/bash/ensure_bash_header.md
  docs/bash/gen_docs.md
  docs/bash/index.md
  docs/bash/monitor_script.md
  docs/bash/testenv_script.md
  docs/go/.md
  docs/go/README.md
  docs/go/breaks.md
  docs/go/breaks/README.md
  docs/go/shared-library.md
  docs/go/shared-types.md
  docs/go/shared/library/README.md
  docs/go/shared/types/README.md
  docs/overview.md
  docs/setup.md
  docs/troubleshooting.md
  scripts/ensure_bash_header.sh
  scripts/gen_docs.sh
Due: none

docsfix: 39: just formatting the docsy
  docs/ansible/vars_and_artifacts.md
  docs/bash/boot_checker.md
  docs/bash/gen_docs.md
  docs/go/.md
  docs/go/breaks.md
  docs/go/shared-library.md
  docs/go/shared-types.md
  docs/troubleshooting.md
Due: none

fix: 39: fixing go sec issues
  docs/go/README.md
  monitor/go/breaks/broken_boot_loader.go
  monitor/go/monitor_logic.go
Due: none

fix: 39: fixing more precommit issues
  docs/go/README.md
  docs/go/shared/library/README.md
  monitor/go/monitor_logic.go
  monitor/go/shared/library/corrupt_file.go
  monitor/go/shared/library/messages.go
Due: none

docs: 39: removing commented code
  docs/go/README.md
  docs/go/shared/library/README.md
Due: none

docs: 39: removing commented code
  .golangci.yml
  monitor/go/monitor_logic.go
  monitor/go/shared/library/corrupt_file.go
Due: prettier-yaml

fix: master: automatically allowing testenv ssh on vagrantfile
  Vagrantfile
Due: vagrant-validate

feat_and_docs: 31: adding in the start of the file swap
  monitor/go/breaks/disable/broken_boot_loader.go
  monitor/go/breaks/docs/README.md
  monitor/go/breaks/docs/families.md
  monitor/go/breaks/docs/prompt.md
  monitor/go/breaks/file_swap.go
Due: none

: 31:
  Vagrantfile
  docs/go/breaks/disable/README.md
  docs/go/shared/library/README.md
  monitor/go/breaks/broken_boot_loader.go
  monitor/go/breaks/docs/families.md
  monitor/go/breaks/docs/prompt.md
  monitor/go/breaks/file_swap.go
  monitor/go/shared/library/file_jumble.go
  monitor/go/shared/library/file_selector.go
Due: vagrant-validate

refactor: 31: refactoring checker and the breaks to make things smoother
  .ansible-lint
  .gitignore
  docs/go/README.md
  docs/go/breaks/broken_boot_loader/README.md
  docs/go/breaks/command_corrupt/README.md
  docs/go/breaks/file_swap/README.md
  docs/go/shared/library/README.md
  monitor/ansible/checks.yml
  monitor/ansible/checks/file_checker.yml
  monitor/ansible/checks/verify_restored.yml
  monitor/ansible/library/_eval_one_item.yml
  monitor/go/breaks/broken_boot_loader/broken_boot_loader.go
  monitor/go/breaks/command_corrupt/command_corrupt.go
  monitor/go/breaks/file_swap/file_swap.go
  monitor/go/go.mod
  monitor/go/monitor_logic.go
  monitor/go/shared/library/file_jumble.go
  monitor/go/shared/library/file_selector.go
Due: prettier-yaml

review: 31: asked ChatGPT to do a code review for me
  Vagrantfile
  docs/go/README.md
  monitor/go/monitor_logic.go
Due: vagrant-validate

feat: master: moving vagrant file from virtualbox to libvirt instead
  .pre-commit-config.yaml
  Vagrantfile
Due: vagrant-validate, prettier-yaml

refactorFix: 52_corrupte_file: refactoring corrupt_file.go and making sure that the vagrant sync folder stays synked
  Vagrantfile
  docs/go/shared/library/README.md
  monitor/go/breaks/broken_boot_loader/broken_boot_loader.go
  monitor/go/breaks/command_corrupt/command_corrupt.go
  monitor/go/shared/library/corrupt_file.go
Due: vagrant-validate

refactor: 52_file_jumble: refactoring the file jumble
  docs/go/breaks/disable/broken_boot_loader/README.md
  docs/go/breaks/disable/command_corrupt/README.md
  docs/go/shared/library/README.md
  docs/go/shared/library/old/README.md
  docs/go/shared/types/README.md
  monitor/go/breaks/file_swap/file_swap.go
  monitor/go/monitor_logic.go
  monitor/go/shared/library/file_jumble.go
  monitor/go/shared/library/file_selector.go
  monitor/go/shared/types/shared_types.go
Due: none

fix: 52_file_jumble: removing comented code
  monitor/go/shared/library/file_selector.go
Due: none

refactor: 55: creating the get audit code to get what the kernal is auditing
  Vagrantfile
  go/go.mod
  go/library/ssh.go
  go/main.go
Due: vagrant-validate

refactor: 55: setup the ssh keep alive and the ssh command executor
  go/go.mod
  go/go.sum
  go/library/ssh_run.go
  go/library/ssh_warm.go
  go/main.go
  go/types/types.go
Due: none

refactor: 55: moving monitor go to the root
  Vagrantfile
  go/breaks/broken_boot_loader/broken_boot_loader.go
  go/breaks/command_corrupt/command_corrupt.go
  go/breaks/docs/README.md
  go/breaks/docs/families.md
  go/breaks/docs/prompt.md
  go/breaks/file_swap/file_swap.go
  go/go.mod
  go/go.sum
  go/library/corrupt_file.go
  go/library/file_jumble.go
  go/library/file_selector.go
  go/library/messages.go
  go/library/ssh/generate_key.go
  go/library/ssh_warm.go
  go/library/types/README.md
  go/library/types/shared_types.go
  go/main.go
  go/old/breaks/FileCorruptor.go
  go/old/go.mod
  go/old/go.sum
  go/old/library/bash/get_file_metadata.sh
  go/old/library/ssh.go
  go/old/library/ssh_run.go
  go/old/library/ssh_warm.go
  go/old/main.go
  go/old/test/.myprog.swp
  go/old/test/myprog
  go/old/test/test.go
  go/old/test/vars
  go/old/types/types.go
  go/test/ssh_mon.go
Due: vagrant-validate

feat: 55: adding in report handler
  go/go.mod
  go/go.sum
  go/library/messages.go
  go/main.go
Due: none

feat: 55: introducing message management
  go/breaks/broken_boot_loader/broken_boot_loader.go
  go/go.mod
  go/go.sum
  go/main.go
Due: none

precommit: 55: fixing precommit issues
  .pre-commit-config.yaml
  docs/go/shared/library/keypair/README.md
  go/breaks/broken_boot_loader/broken_boot_loader.go
  go/library/messages.go
  go/library/ssh/generate_key.go
  go/main.go
  go/test/ssh_mon.go
Due: prettier-yaml

feat: 55: adding in token count
  go/main.go
Due: none

feat: 55: adding in the token number check
  go/main.go
Due: none

feat: 55: adding in delayed loop
  go/main.go
Due: none

feat: 55: changing the way messages are handled
  go/breaks/broken_boot_loader/broken_boot_loader.go
  go/library/types/shared_types.go
Due: none

feat: 55: introducing timing and cheap and expensive break functionality
  go/breaks/cheap/broken_boot_loader/broken_boot_loader.go
  go/breaks/cheap/command_corrupt/command_corrupt.go
  go/breaks/cheap/file_swap/file_swap.go
  go/main.go
Due: none

fix: 55: making other 2 cheap breaks use the token
  go/breaks/cheap/command_corrupt/command_corrupt.go
  go/breaks/cheap/file_swap/file_swap.go
Due: none

refactor: 55: removed the monitory directory because it is no longer needed and migrated ansible to where it was needed
  ansible/ansible_vars.yml
  ansible/checks.yml
  ansible/checks/file_checker.yml
  ansible/library/_eval_one_item.yml
  ansible/library/append_to_results.yml
  ansible/library/boot_checker.sh
  docs/break_docs/README.md
  docs/break_docs/families.md
  docs/break_docs/prompt.md
  docs/break_docs/review_prompt
  docs/code_review_prompt.md
  monitor/go/README.md
  monitor/go/breaks/broken_boot_loader/broken_boot_loader.go
  monitor/go/breaks/command_corrupt/command_corrupt.go
  monitor/go/breaks/file_swap/file_swap.go
  monitor/go/go.mod
  monitor/go/go.sum
  monitor/go/monitor_logic.go
  monitor/go/shared/library/README.md
  monitor/go/shared/library/corrupt_file.go
  monitor/go/shared/library/file_jumble.go
  monitor/go/shared/library/file_selector.go
  monitor/go/shared/library/messages.go
  monitor/go/shared/types/README.md
  monitor/go/shared/types/shared_types.go
Due: prettier-yaml

review: 55: fixing chatgpts code review
  docs/go/README.md
  docs/go/breaks/cheap/broken_boot_loader/README.md
  docs/go/breaks/cheap/command_corrupt/README.md
  docs/go/breaks/cheap/file_swap/README.md
  docs/go/library/README.md
  docs/go/library/ssh/README.md
  docs/go/library/types/README.md
  go/breaks/cheap/command_corrupt/command_corrupt.go
  go/breaks/cheap/file_swap/file_swap.go
  go/main.go
  scripts/gen_docs.sh
Due: none

feat: 60: adding in expensive break ntp time drift
  docs/go/library/monitor/README.md
  go/library/monitor/ntp.go
  go/library/monitor/ntp_server.go
  go/main.go
Due: none

feat: 60: adding in the expensive time break
  docs/go/breaks/expensive/README.md
  go/breaks/expensive/time.go
  scripts/monitor_script.sh
Due: none

fix: 60: fixing the sudo issue
  Vagrantfile
Due: vagrant-validate

fix: 60: fixing time server setup
  docs/go/breaks/expensive/time/README.md
  docs/go/library/monitor/README.md
  go/library/monitor/ntp.go
  go/main.go
  scripts/monitor_script.sh
Due: none

feat: 60: adding in time break
  go/breaks/expensive/time/time.go
Due: none

fix: 69: moved ansible to old ansible
  old_ansible/ansible_vars.yml
  old_ansible/checks.yml
  old_ansible/checks/file_checker.yml
  old_ansible/library/_eval_one_item.yml
  old_ansible/library/append_to_results.yml
  old_ansible/library/boot_checker.sh
Due: prettier-yaml

Path conditions:
  vagrant-validate: any of: ^Vagrantfile$
  prettier-yaml: any of: \.(yml|yaml)$, but not: ^monitor/ansible/(ansible_vars\.yml|results\.yml)$
